body{
  background-color: hsl(233, 47%, 7%);
  display: flex;
  justify-content: space-around;
}
section{
  display: flex;
  margin-top: 170px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 20px;
  height: 447px;
}
section h2 {
  font-size: 37px;
  
}
section h2 + p{
  font-size: 15px;
}
h4 {
  font-weight: bold;
}
h4 + P{
  text-transform: uppercase;
}
div.cont{
  width: 475px;


}
span{
  color: hsl(277, 64%, 61%);
}

section >div >div{
  font-family: 'Open Sans', sans-serif;
  width: 355px;
  color: white;
  margin-left: 47.5px;
}
.stats{
  display: flex;
  justify-content: space-between;
}
img {
  filter: brightness(0.8) contrast(1.2) grayscale(1) hue-rotate(155deg) saturate(1.9) sepia(0.86) url('#red-sunset-with-purple');
  border-radius: 0;
  border-top-right-radius: 20px ;
  border-bottom-right-radius: 20px ;
}
<<<<<<< HEAD
@media (max-width: 475px) {
  section {
    margin-top: 40px;
    flex-direction: column-reverse;
    width: 90%;
    margin-left: auto;
    height: auto;
    text-align: center;
  }
  section >div >div{
    width: 100%;
    margin-left: 10px;
  }
  
  div.cont{
    width: 96%;
  }
  img{
    width: 100%;
    border-radius: 0;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px ;
  }
  section h2 {
    font-size: 20px;
  }
  .stats{
    flex-direction: column;
  }


}
=======
>>>>>>> e00fd786f0d14d173c5d619f1f1642d2e4005ccd
